body{

    font-family: 'Bebas Neue', cursive;


  }

  #map{

    width:100%;
    height:70%;

  }

  #caja{
    

    width: 100%;
    height: 80vh;
    text-align: center;

  }

  #puntosInteres{



  }

  h1{

    text-align: center;
    font-family: 'Bebas Neue', cursive;


  }

  h2{

    font-family: 'Bebas Neue', cursive;


  }